<!DOCTYPE html>

{% load  static %}
{% load bootstrap4 %}
{% bootstrap_css %}

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>INSERTAR LINEA PEDIDO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer type="text/javascript" languaje="javascript" src={% static 'js/jquery.min.js' %}></script>
    <script defer type="text/javascript" languaje="javascript" src={% static 'js/addLineaPedidoDc.js' %} ></script>
    <link rel="STYLESHEET" type="text/css" href={% static 'css/bootstrap.min.css' %}>
    <link rel="STYLESHEET" type="text/css" href={% static 'css/addLineaPedidoDc.css' %}>
    <link rel="STYLESHEET" type="text/css" href={% static 'css/reloj.css' %}>
    
</head>
<body>
    {% include 'head.html' %}
    <div class="loader"></div>
    <div id="contenedor">
            
        <input type="hidden"  id="hosphidden"  value={{request.session.hospitalCodigo}}>
        <div id="dini">
            <label for="dat_ini"><strong>Fecha Pedido:</strong>
            <input type="date" id="dat_ini" data-date-format="DD/MM/YYYY" class="form-control"></label>
        </div>
        
    </div>
    
</body>
</html>