<!DOCTYPE html>
{% load  static %}
{% load bootstrap4 %}
{% bootstrap_css %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer type="text/javascript" languaje="javascript" src={% static 'js/jquery.min.js' %}></script>
    <script defer type="text/javascript" languaje="javascript" src={% static 'js/gestPedidosdc.js' %}></script>
    <script defer type="text/javascript" languaje="javascript" src={% static 'js/sweetalert.min.js' %}></script>

    <link rel="STYLESHEET" type="text/css" href={% static 'css/gestPedidosdc.css' %}>
    <link rel="STYLESHEET" type="text/css" href={% static 'css/bootstrap.min.css' %}>
    <link rel="STYLESHEET" type="text/css" href={% static 'css/reloj.css' %}>
    <link rel="STYLESHEET" type="text/css" href={% static 'css/sweetalert.min.css' %}>
    <title>PedidosDC</title>

</head>
<body>
    {% include 'head.html' %}
    <div class="loader"></div>
    <div id="cont-form">
            <div id="dhosp" >
                <label for="Shospital"><strong>Hospital:</strong>
                <select id="Shospital" name="Shospital" class="form-control">
                    <option >SELECCIONE HOSPITAL</option>
                    {% for i in hospitales %}
                        <option  value={{i.codigo}}>{{i.nombre}}</option>
                    {% endfor %}
                </select></label>
            </div>
            <div id="dini">
                <label for="dat_ini"><strong>Fecha inicio:</strong>
                <input type="date" id="dat_ini" data-date-format="DD/MM/YYYY" class="form-control"></label>
            </div>
            <div id="dfin">
                <label for="dat_fin"><strong>Fecha fin:</strong>
                <input type="date" id="dat_fin" data-date-format="DD/MM/YYYY" class="form-control"></label>
            </div>
            <div id="dboton">
                <button type="button" id="fenviar" class="btn-outline-primary" >Recoger Albaranes</button>
            </div>
            <table id="tabla" class="tabla">

            </table>
    </div>


</body>
</html>