<!DOCTYPE html>

{% load  static %}
{% load bootstrap4 %}
{% bootstrap_css %}

{% include 'head.html' %}

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1, user-scalable=no">
    <script defer type="text/javascript" languaje="javascript" src={% static 'js/jquery.min.js' %}></script>
    <script defer type="text/javascript" languaje="javascript" src={% static 'js/pedidos.js' %}></script>
    <link rel="STYLESHEET" type="text/css" href={% static 'css/pedidos.css' %}>
    <link rel="STYLESHEET" type="text/css" href={% static 'css/reloj.css' %}>
    <title>pedidos</title>
</head>
    <body>
        <div class="loader"></div>
        <div id="cont2" class="container" >
            
            <form id="fpedidos" name="fpedido" enctype="multipart/form-data" method="POST" class="form-group" >
                                        {% csrf_token %}
                    <div id="cont1" >
                        <!-- <input type="text" name="hospital" id="hospital" value="HCSC" class="form-control"> -->
                        <select name="hospital" id="hospital" class="form-control">
                            <option name="opHosp" value="">SELECCIONE HOSPITAL:</option>
                            {% for i in hospitales %}
                                <option  value={{i.codigo}}>{{i.codigo}}</option>
                            {% endfor %}
                        </select>
                        
                        <!-- <input type="text" name="gfh" id="gfh" placeholder="Introduce gfh" class="form-control"> -->
                        <select name="gfh" id="gfh" class="form-control">
                            
                        </select>

                        <!-- <input type="text" name="disp" id="disp" placeholder="Introduce dispositivo" class="form-control"> -->
                        <select name="disp" id="disp" class="form-control">
                        
                        </select>

                        <input type="text" name="user" placeholder="Introduce usuario"id="user" class="form-control">
                        <button type="submit" id="pboton2" class="btn-outline-primary" >Enviar Pedido</button>
                    </div>

                {% if hospital %}
                <table id="config" class="config">
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Pacto</th> 
                        <th>Cantidad</th>   
                    </tr>
                    <tr>
            
                    {% for i in datos %}
                            <!--<td>{{i.modulo}}</td>
                            <td>{{i.estanteria}}</td>
                            <td>{{i.ubicacion}}</td>
                            <td>{{i.division}}</td>-->
                            <td>{{i.codigo}}</td>
                            <td>{{i.nombre.nombre}}</td>
                            <td>{{i.pacto}}</td>
                            <!--<td>{{i.gfh}}</td>
                            <td>{{i.disp}}</td>-->
                            <td><input type="text" name="{{i.codigo}}*{{i.modulo}}*{{i.estanteria}}*{{i.ubicacion}}" value="0" class="input-group-text" 
                                onkeypress="return event.charCode >= 48 && event.charCode <= 57"></td>
                            
                        </tr>
                    
                    {% endfor %}
                    </table>    
                            <button type="submit" name="pboton" id="pboton" class="btn-outline-primary">SUBIR PEDIDO</button>
                            <!--<td><input type="text" name="tped"></td>-->
                        
                
                    {% endif %}

            </form>    
        </div>
        
    </body>
</html>