{% load  static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="STYLESHEET" type="text/css" href={% static 'css/upload.css' %}>
    <title>Pedido2</title>
</head>
    <body>
        <form id="fenviar" name="fenviar" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
        <h2>ENVIAR PEDIDO COMPLETO</h2>
        <table>
            <tr>
                <th>USUARIO</th>
                <th>HOSPITAL</th>
                <th>GFH</th>
                <th>DISPOSITIVO</th>
            </tr>
            <tr>
                <td>{{user}}</td>
                <td>{{hospital}}</td>
                <td>{{gfh}}</td>
                <td>{{disp}}</td>
            </tr>
            <tr>
                <td><input id="txenviar" name="txenviar" type="text" value="{{user}}"></td>
                <td><label id="lenviar">ENVIAR PEDIDO</label></td>
                <td><input type="submit" id=tenviar></td>
            </tr>

        </table>
        </form>
    </body>
</html>