<!DOCTYPE html>
{% load  static %}
{% load bootstrap4 %}
{% bootstrap_css %}


<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1, user-scalable=no">
    <link rel="STYLESHEET" type="text/css" href={% static 'css/pedidos.css' %}>
    <link rel="STYLESHEET" type="text/css" href={% static 'css/reloj.css' %}>
    <script defer type="text/javascript" languaje="javascript" src={% static 'js/jquery351u.js' %}></script>
    <script defer type="text/javascript" languaje="javascript" src={% static 'js/envpedido.js' %} ></script>
    <title>Pedido2</title>
</head>
    <body>
    {% include 'head.html' %}
    <div class="loader"></div>
    <div id="cont2" class="container" >

    <div id="cont" class="container-fluid" >
        <div class="row	justify-content-md-center">
        <form id="fenviar" name="fenviar" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
        <input type="hidden" id="u" name="usuario" value={{userPed}}>
        <input type="hidden" id="h" name="hosp" value={{request.session.hospitalCodigo}}>
        <input type="hidden" id="p" name="passwd" value={{passwd}}>
        <div id="cont0">
        
            <a href="" id="envpedidos" class="btn-outline-primary" >Volver a Pedidos</a>
            <!-- <input id="txenviar" name="txenviar" type="hidden" value="{{user}}"> -->
            <button type="submit" id="tenviar" class="btn-outline-primary" >Enviar Pedido</button>
        
        </div>
        <div id="cont2" >
            <table id="tabla" class="config">

            </table>
        
        </div>
        </form>
    </div>
    </div>
    </body>
</html>