{% load  static %}
{% load bootstrap4 %}
{% bootstrap_css %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1, user-scalable=no">
    <link rel="STYLESHEET" type="text/css" href={% static 'css/pedidos.css' %}>
    <title>Pedido2</title>
</head>
    <body>
    <div id="cont" class="container-fluid" >
        <div class="row	justify-content-md-center">
        <form id="fenviar" name="fenviar" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
        <h2>ENVIAR PEDIDO COMPLETO</h2>
        <table class="table table-responsive">
            <tr>
                <th>USUARIO</th>
                <th>HOSPITAL</th>
                <th>GFH</th>
                <th>DISPOSITIVO</th>
            </tr>
            <tr>
                <td>{{user}}</td>
                <td>{{hospital}}</td>
                <td>{{gfh}}</td>
                <td>{{disp}}</td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td><a href="" id="envpedidos" class="btn btn-success" >Volver a Pedidos</a></td>
                <td><input id="txenviar" name="txenviar" type="hidden" value="{{user}}"></td>
                <td><button type="submit" id="tenviar" class="btn btn-success"  >Enviar pedido</td>
            </tr>
        </table>
        </div>
        </form>
        
    </div>
    </body>
</html>