{% load  static %}
{% load bootstrap4 %}
{% bootstrap_css %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1, user-scalable=no">
    <link rel="STYLESHEET" type="text/css" href={% static 'css/pedidos.css' %} 	media="screen and (max-device-width: 480px")>
    <title>Pedido DC</title>
</head>
    <body>
            <label>GFH a pedir</label>
            <input type="text" name="gfh">
            <input type="button" value="gfh">
    </body>
</html>