
{% load static %}

<link rel="STYLESHEET" type="text/css" href="{% static 'css/tb_lat.css' %}">

<br>
<table>
    <tr>
        <td><a href="#">LINUX</a></td><td></td>
    </tr>
    <tr>
        <td><a href="#">PYTHON</a></td><td></td>
    </tr>
    <tr>
        <td><a href="#">.NET</a></td><td></td>
    </tr>
    <tr>
        <td><a href="#">BASES DATOS</a></td><td></td>
    </tr>
    <tr>
        <td><a href="#">DOCKER</a></td><td></td>
    </tr>
    <tr>
        <td><a href="#">RASPBERRY</a></td><td></td>
    </tr>
    <tr>
        <td><a href="#">ARDUINO</a></td><td></td>
    </tr>
    <tr>
        <td><a href="#">ELECTRONICA</a></td><td></td>
    </tr>
    
    
    
    
</table>

