body{background-color: rgba(159, 182, 223, 0.9); margin: 0px; padding: 0px;}
.portada{margin: 25px 16px;background-color: rgb(100, 150, 255); color: rgb(255, 251, 251); padding: 4px 10px; border-radius: 10px; }
#portada>a{color: rgb(255, 255, 255);margin: 5px 8px; padding: 15px 10px; text-decoration: none;}
#portada>a:hover { color: rgb(163, 255, 186)}