body{background-color: rgba(159, 182, 223, 0.9); margin: 0px; padding: 0px;}
#flota{width: 50%; margin: auto;}
#Dfiltro, #Dgfh, #Dugs{margin-top: 15px; margin-bottom: 15px;}
#bfiltro{margin-left: 20px;}
#Dgetdatos{text-align: center}


#tabla{ margin-top: 20px; margin-bottom: 20px;}
#tabla tr td input{width: 40%; margin: auto}


.config{ margin: auto; border: 2px solid;  }
.config th{ border: 2px solid black; background-color: rgb(100, 150, 255); ; color: white; font-size: 1.1em; height: 1.1em; text-align: center; padding: 7px 5px}
.config tr{ border: 1px solid black; }
.config td{ border: 1px solid black; }
.config tr:nth-child(odd){ background-color: rgb(221, 227, 248) }
.config tr:nth-child(even){ background-color:rgb(156, 187, 253); }
.config tr td{font-size: 1em; height: 1em; text-align: center;}
