/* body{margin: 0 ;padding: 0; background-repeat: no-repeat; background-position: center; background-size: 60%;} */
body{background-color: rgba(159, 182, 223, 0.9); margin: 0px; padding: 0px;}
.subtitulo{width:50%; padding: 5px 3px; margin: 40px auto 10px auto; background-color: rgb(100, 150, 255); color: #FFF; text-align: center; border-radius: 10px;}
/* #contHospCod, #contGfhCod, #contDisp, #contBt, #contDescripcion {width: 25%; margin: 20px auto; } */
#addDisGfh{margin: auto; }
.elements{padding: 5px 8px; margin: auto; background-color: white; color: #000; border: 1px solid black; border-radius: 8px }
#controles{ width: 30% ;  display: inline-block; vertical-align: top;  }
#gfhs{margin: auto; width: 90%; }
#gfhs>p{font-size: 18px; font-weight: bold; text-align: center;  border: 1px; border-radius: 4px; width: 60%; margin: 15px auto;}
/* #titulo{ width: 100%; margin: 20px ; text-align: center; color: white } */
.labels{ background-color: white; text-align: left; }
/* #gfhsConf{ width: 40%; position: relative; top: -500px lef 300px ; background-color: #55A} */
#gfhsConf{ width: 50%; display: inline-block ; }
.container{margin: 15px }


.config{ margin: auto; border: 2px solid;  }
.config th{ border: 2px solid black; background-color: rgb(100, 150, 255); ; color: white; font-size: 1.1em; height: 1.1em; text-align: center; padding: 7px 5px}
.config tr{ border: 1px solid black; }
.config td{ border: 1px solid black ;padding: 4px 8px }
.config tr:nth-child(odd){ background-color: rgb(221, 227, 248) }
.config tr:nth-child(even){ background-color:rgb(156, 187, 253); }
.config tr td{font-size: 1em; height: 1em; text-align: center;}
