body{margin: 0 ;padding: 0; background-repeat: no-repeat; background-position: center; background-size: 60%; background-color: rgba(159, 182, 223, 0.9);}

#mapa{ height: 450px; width: 600px; background-color: #7b75c7; border-radius: 15px; float: right; margin: 25px 5% }


#cont2{width: 250px; background-color: rgb(100, 150, 255); margin: 5px 14px;  float: right ;border-radius: 5px;}
#cont2>input{ margin: 20px auto; width: 90%; }
#addHospital{margin: 10px 25%; width: 50%}
#Dlhosp{float: left; margin: 5px 14px;  width: 250px; height: 400px; border-radius: 5px}
#Dlhosp select{width: 75%; margin: 80% auto;}
/* #dthosp{width: 150px; height: 30px; background-color:  rgb(228, 255, 240); border: 2px solid #000; border-radius: 8px} */
/* #dthosp { margin-top: 150%;} */

/* 
#cont2>button{ margin: 20px 10%;}
#lhosp{margin: 20px auto}
.option{width: 200px; background-color: #9ee7e4; border: 2px solid #000; clear: both }
#codhosp{margin-top: 40px}

#addHospital{ padding: 5px 8px; margin: auto; background-color: rgb(141, 255, 194); color: #000; border-radius: 8px; width: 176px;}
#addHospital:hover{background-color:  rgb(250, 265, 204); border: 2px solid #000;}

#dthosp{width: 150px; height: 30px; background-color:  rgb(141, 255, 194); border: 2px solid #000; border-radius: 8px; width: 176px;}
#lbdthosp{background-color: rgb(141, 255, 194); padding: 5px; border: 2px solid #000; border-radius: 8px; width: 176px; }
#dthosp:hover{background-color: rgb(255, 255, 255);}

#cont2>input{ background-color: rgb(141, 255, 194); border-radius: 4px;}
#cont2>input:hover{ background-color: rgb(255, 255, 255);} */