<!DOCTYPE html>
{% load  static %}
{% load bootstrap4 %}
{% bootstrap_css %}

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="STYLESHEET" type="text/css" href={% static 'css/upload.css' %}> -->
    <link rel="STYLESHEET" type="text/css" href={% static 'css/actualizarPactos.css' %}>
    <link rel="STYLESHEET" type="text/css" href={% static 'css/bootstrap.min.css' %}>
    <link rel="STYLESHEET" type="text/css" href={% static 'css/reloj.css' %}>
    <script defer type="text/javascript" languaje="javascript" src={% static 'js/jquery351u.js' %}></script>
    <script defer type="text/javascript" languaje="javascript" src={% static 'js/ActualizaPactos.js' %} ></script>
    
    <title>ActualizarPactos</title>
</head>
<body>
    <div class="loader"></div>
    {% include 'head.html' %}
    <div id="contd" name="contd">
        <form id="formdisp"  method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- <h2 id='titulo'>ACTUALIZAR PACTOS</h2> -->
            
            <div id="contHosp" name="contHosp" class="container">
                <select name="selHosp" id="selHosp" class="form-control">
                    <option name="opHosp" value="" >SELECCIONE HOSPITAL:</option>
                    {% for i in hospital %}
                        <option name="opHosp" value={{i.codigo}}>{{i.nombre}}</option>
                    {% endfor %}
                </select>
            </div> 

            <div id="contGfhC" name="contGfhC" class="container">
                <select name="selGfh" id="selGfh" class="form-control">

                </select>
            </div>

            <div id="contDisP" name="contDisP" class="container">
                <select name="selDisp" id="selDisp" class="form-control">

                </select>
            </div>


            <div id="contBtDisp" name="contBtDisp" class="container">
                <!-- <button type="submit" id="subDisGfh" name="subDisGfh" class="btn btn-success">Añadir</button> -->
                <label>{{mensaje}}</label>
            </div>


            <div id="contPacto" name="contPacto" class="container">
                
                <table id='tabla' class="config">
            <!--    <tr><th>REFERENCIA</th><th>DESCRIPCION</th><th>NUEVO</th><th>PACTO</th></tr>
                    {% for i in pacto %}
                        <tr><td><p>{{i.codigo}}</p></td><td><p>{{i.nombre.nombre}}</p></td><td><input type="text" name="{{i.codigo}}*{{i.modulo}}*{{i.estanteria}}*{{i.ubicacion}}*{{i.division}}" value="" class="input-group-text" 
                            onkeypress="return event.charCode >= 48 && event.charCode <= 57"></td><td>PACTO:{{i.pacto}}</td></tr>

                    {% endfor %} 
            -->
                </table>  

                        <input type="submit" id="boton" value="Modificar" class="btn-outline-primary">

            </div>




        </form>
    </div>
    
</body>
</html>