{% load  static %}
{% load bootstrap4 %}
{% bootstrap_css %}

{% include 'menu.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="STYLESHEET" type="text/css" href={% static 'css/upload.css' %}>
    <title>ActualizarPactos</title>
</head>
<body>
    <div id="contd" name="contd">
        <form id="formdisp"  method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>ACTUALIZAR PACTOS</h2>
            
            <div id="contHosp" name="contHosp" class="container">
                <select name="selHospC" id="selhospC" class="form-control">
                    <option name="opHosp" value="">SELECCIONE HOSPITAL:</option>
                    {% for i in hospital %}
                        <option name="opHosp" value={{i.codigo}}>{{i.codigo}}</option>
                    {% endfor %}
                </select>
            </div>

            <div id="contGfhC" name="contGfhC" class="container">
                <select name="selDisp" id="selDisp" class="form-control">
                    <option name="opHosp" value="">SELECCIONE DISPOSITIVO:</option>
                    {% for i in dispositivo %}
                        <option name="opDisp" value={{i.nombre}}>{{i.nombre}}</option>
                    {% endfor %}
                </select>
            </div>


            <div id="contBtDisp" name="contBtDisp" class="container">
                <button type="submit" id="subDisGfh" name="subDisGfh" class="form-check-input">Añadir</button>
                <label>{{mensaje}}</label>
            </div>


            <div id="contPacto" name="contPacto" class="container">
                <br>
                
                <table class="config">
                        <tr><th>ARTICULO</th><th>PACTO</th></tr>
                        <input type="hidden" name="oculto" value="0">
                    {% for i in pacto %}
                        <tr><td><p></p>{{i.nombre|rjust:"4"}}</p></td><td><input type="text" name="{{i.codigo}}*{{i.modulo}}*{{i.estanteria}}*{{i.ubicacion}}" value="{{i.pacto}}" class="input-group-text" 
                            onkeypress="return event.charCode >= 48 && event.charCode <= 57"></td><td>PACTO:{{i.pacto}}</td></tr>

                    {% endfor %}
                        <input type="hidden" name="oculto" value="1" >
                        <tr><td><input type="submit" id="boton" class="btn btn-success"></td></tr>

                </table>
            </div>




        </form>
    </div>
    
</body>
</html>