<!DOCTYPE html>
{% load  static %}
{% load bootstrap4 %}
{% bootstrap_css %}

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer type="text/javascript" languaje="javascript" src={% static 'js/jquery.min.js' %}></script>
    <script defer type="text/javascript" languaje="javascript" src={% static 'js/gfh.js' %}></script>
    <link  rel="STYLESHEET" type="text/css" href={% static 'css/gfhs.css' %}>
    <link rel="STYLESHEET" type="text/css" href={% static 'css/reloj.css' %}>
    <title>AñadirDispGfh</title>
</head>
<body>
    {% include 'head.html' %}
    <div class="loader"></div>
    <div id="cont1" name="cont1">
        <!-- <h2 class="titulo">DISPOSITIVOS & GFHs</h2> -->
        <div id="controles">
        <form id="formulario"  method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <h2 id="titulo" class="subtitulo">CREAR GFH</h2>

            <div id="contHospCod" name="contHospCod" class="container">
                <select name="addHospC" id="addhospC" class="form-control-sm elements">
                    <option name="opHosp" value="sel">SELECCIONE HOSPITAL:</option>
                    {% for i in hospital %}
                        <option name="opHosp" value={{i.codigo}}>{{i.nombre}}</option>
                    {% endfor %}
                </select>
            </div>

            <div id="contGfhCod" name="contGfhCod" class="container">
                <input type="text" name="addgfhC" id="addgfhC" placeholder="GFH" class="form-control-sm elements">
            </div>
            <div id="contDisp" name="contDisp" class="container">
                <input type="text" name="addisp" id="addisp" placeholder="DISPOSITIVO" class="form-control-sm elements">
            </div>
            <div id="contDescripcion" name="contDescripcion" class="container">
                <input type="text" name="descripcion" id="hosp" placeholder="DESCRIPCION DEL GFH" class="form-control-sm elements">
            </div> 
            <div id="contBt" name="contBt" class="container">
                <button type="submit" id="addDisGfh" name="addDisGfh" class="form-check-input elements">Añadir</button>
                <label class="hvr-icon-forward">{{mensaje}}</label>
            </div>
        </form>
        </div>

        <div id="gfhsConf">
            <h2 id="subtitulo" class="subtitulo">GFHs ACTIVOS</h2>
            <div id="gfhs">
                <table id="tabla" class="config">

                </table>
            </div>
        </div>

        <audio autoplay >
            {% if sound == 1 %}
                <source src={% static 'sound/gfhdisp.mp3' %} type="audio/mpeg">
                <p>Tu navegador no implementa el elemento audio</p>
            {%endif%}
        </audio>

    </div>
    
</body>
</html>


