{% load  static %}
{% load bootstrap4 %}
{% bootstrap_css %}

{% include 'menu.html' %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script type="text/javascript" languaje="javascript" src={% static 'js/gfh.js' %} ></script> -->
    <script defer type="text/javascript" languaje="javascript" src={% static 'js/hospitales.js' %}></script>
    <title>AñadirDispGfh</title>
</head>
<body>
    <div id="cont1" name="cont1">
        <form id="formulario"  method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2 class="titulo">DISPOSITIVOS & GFHs</h2>
            <!-- <input type="hidden" id="hhosp" name="hhosp"/> -->

            <div id="contHospCod" name="contHospCod" class="container">
                <select name="addHospC" id="addhospC" class="form-control-sm">
                    <option name="opHosp" value="">SELECCIONE HOSPITAL:</option>
                    {% for i in hospital %}
                        <option name="opHosp" value={{i.codigo}}>{{i.codigo}}</option>
                    {% endfor %}
                </select>
            </div>

            <div id="contGfhCod" name="contGfhCod" class="container">
                <input type="text" name="addgfhC" id="addgfhC" placeholder="GFH" class="form-control-sm ctexto">
            </div>
            <!-- <div id="contGfhNom" name="contDisp">
                <label>GFH nombre<input type="text" name="addgfhN" id="addgfhN" class="form-control"></label>
            </div> -->
            <div id="contDisp" name="contDisp" class="container">
                <input type="text" name="addisp" id="addisp" placeholder="DISPOSITIVO" class="form-control-sm">
            </div>
            <!-- <div id="contHosp" name="contHosp" class="container">
                <input type="text" name="hosp" id="hosp" value={{hospital}} class="form-control">
            </div> -->
            <div id="contBt" name="contBt" class="container">
                <button type="submit" id="addDisGfh" name="addDisGfh" class="form-check-input">Añadir</button>
                <label class="hvr-icon-forward">{{mensaje}}</label>
            </div>
        </form>
        <div>
            <label for="browser">GFHs:</label>
            
            <select id="dthosp" style="display: block"; >
                {% for i in gfhs %}
                    <option value={{i.gfh}} label={{i.gfh|add:"_______"|add:i.nombre}}>
                {% endfor %}
                    </select>
        </div>

        <audio autoplay >
            {% if sound == 1 %}
                <source src={% static 'sound/gfhdisp.mp3' %} type="audio/mpeg">
                <p>Tu navegador no implementa el elemento audio</p>
            {%endif%}
        </audio>

    </div>
    
</body>
</html>

