{% load  static %}
{% load bootstrap4 %}
{% bootstrap_css %}

{% include 'menu.html' %}
<!DOCTYPE html>
<html>
    <head>
        <title>BAJAR CONFIGURACION</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1, user-scalable=no">
        <link rel="STYLESHEET" type="text/css" href={% static 'css/upload.css' %}>
    </head>
    <body>
    {% block content %}
        <div id="flota" class="input-group mb-3">
            <!-- <p id="portada">BAJANDO CONFIGURACION DEL SERVIDOR</p> --> 
            <form id="formulario"  method="post" enctype="multipart/form-data" >
                            {% csrf_token %} 
                <!-- <p id="fila">Configuracion a bajar:</p> -->
                <h2 id="tituloBajar">BAJAR CONFIGURACION</h2>
                <table id="tmenu">
                    <tr>
                        <td><p class="lead">GFH:</p></td>
                        <td><input type="text" name="gfh" id="gfh" class="form-control"></td>
                        <td><p class="lead">UGS:</p></td>
                        <td><input type="text" name="disp" id="disp" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><p class="lead">CODIGO:</p></td>
                        <td><input type="text" name="code" id="code" class="form-control"></td>
                        <td><p class="lead">HOSPITAL:</p></td>      
                        <td><select name="hosp" class="custom-select"><option value="CLINICO">HCSC</option><option value="HUPA">HUPA</option></select></td>
                    </tr>
                    <tr>
                        <td><label class="form-check-label" for="bajarfila">BAJAR FILA:</label><input type="checkbox" name="bajarfila" id="bajarfila" class="form-check-input" ></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td> <p id="nombre">GFH:</p></td>
                        <td>{{nombre}}</td>
                        <td><p id="lineas"></p></td>
                        <td>{{lineas}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button type="submit" id="boton" class="btn btn-success">BAJAR CONFIGURACION</button></td>
                    </tr>
                </table>
                
            </form>
        </div>
        {% if configuraciones %}
        <table id="config" class="config">
            <tr>
                <th>Mod</th>
                <th>Est</th>
                <th>Ubc</th>
                <th>Div</th>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Pacto</th>
                <th>Minimo</th>
                <th>DC</th>
                <th>Gfh</th>
                <th>Disp</th> 
                <th>Hosp</th>
                <!-- <th>Ubic</th> -->
                <th>VerQR</th>
            </tr>
            {% for i in configuraciones %}
            <tr>
                {{data}}
                {% for j in i %}
                    {% if forloop.counter != 13 %}      
                        <td>{{j}}</td>
                    {% endif %}
                    {% if forloop.last  %} <!-- tambien tiene first ,counter -->
                        <td><a id="blink" href="cqr?data={{j}}">CQR</a></td>
                    {% endif %}
                {% endfor %}
                                                        
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    {% endblock %}
    </body>


</html>