
<div id="portada" class="portada">
    <h2 id="Htitulo"></h2>

    <div id="Denlaces">

        <ul class="nav">
            <li class="principal">Servicios
                <ul>
                    <li><a href="/admin/">Admin</a></li>
                    <li><a href="/hospitalAdd">Hospitales</a></li>
                    <li><a href="/gfhdispAdd">Gfhs</a></li>
                    <li><a href="/uf">Subir Datos</a></li>
                    <li><a href="/actPactos">Modificar</a></li>
                    <li><a href="/gestPedidos">Gestion pedidos</a></li>
                    <li><a href="/gestPedidosDC">Gestion pedidos DC</a></li>
                    <li><a href="/impresion">Impresion</a></li>
                </ul>
            </li>
        </ul>

        <a href="/df">Descargar Datos</a>
        <a href="/selarticulo">Articulos</a>
        <a href="/pedido">Pedidos</a>

    </div> 
</div>
        


<style type="text/css">
			
    * {
        margin:0px;
        padding:0px;
    }

    .nav{display: inline-table; margin: 0px 50px 10px 20px}
    
    ul, ol {
        list-style:none;
    }
    
    .nav > li {
        float:left;
    }
    
    .nav li a {
        /* background-color:rgba(255, 255, 255, 0); */
        color:#fff;
        text-decoration:none;
        padding:1px 0px;
        margin: 19px 0px;
        display:block;
    }
    
    .nav li a:hover {
        background-color: rgb(100, 150, 255);
        color: rgb(163, 255, 186);
        width: 60%;
        border-radius: 5px;
    }
    
    .nav li ul {
        display:none;
        position:absolute;
        min-width:140px;
    }
    
    .nav li:hover > ul {
        display:block;
    }
    
    .nav li ul li {
        position:relative;
    }
    
    .nav li ul li ul {
        right:-140px;
        top:0px;
    }

    .principal{margin:0px; padding:0px;}

    .portada{margin: 5px 15px;background: linear-gradient(90deg, rgba(100,150,255,1) 0%, rgba(100,150,255,1) 55%, rgba(2,107,187,1) 100%);; color: rgb(255, 251, 251); padding: 4px 10px; border-radius: 10px; text-shadow: 5px 5px 10px black; box-shadow: 4px 6px 30px #000; }
    #portada>div>a{color: rgb(255, 255, 255);margin: 5px 8px; padding: 15px 10px; text-decoration: none; }
    #portada>div>a:hover { color: rgb(163, 255, 186)}
    
</style>