{% load  static %}
{% load bootstrap4 %}
{% bootstrap_css %}

<link rel="STYLESHEET" type="text/css" href={% static 'css/menu.css' %}>
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1, user-scalable=no">

<div id="nav" class="container-fluid">
    <div class="titulonav"> <!-- class="titulonav" -->
    Secciones
    </div>
    
    <div class="cuerporec">
    <ul>
       <li><a href="/downloadfile">Bajar Configuracion</a></li>
       <li><a href="/uploadfile">Subir Configuracion</a></li>
       <li><a href="#">Articulos</a></li>
       <li><a href="#">Codigo QR</a></li>
       <li><a href="#">Articulos</a></li>

    </ul>
    </div>
 </div>