{% load  static %}
{% include 'menu.html' %}
<html>
    <head>
        <title>ARTICULOS</title>
        <link rel="STYLESHEET" type="text/css" href={% static 'css/upload.css' %}>
        <script type="text/javascript" languaje="javascript" src={% static 'js/javascript.js' %} ></script>
    </head>
    <body>
        <div id="mfoto" class="config">
        <p>{{foto}}</p>
            {%for i in foto%}
                <img src={{i.foto.url}} alt={{i.foto}} width="750">
            {%endfor%}
        </div>
    </body>