{% load  static %}
{% include 'menu.html' %}
<html>
    <head>
        <title>ARTICULOS</title>
        <link rel="STYLESHEET" type="text/css" href={% static 'css/upload.css' %}>
        <script type="text/javascript" languaje="javascript" src={% static 'js/javascript.js' %} ></script>
    </head>
    <body>
        <div id="cont1">

            <table id="tmenu2" class="config">
                <tr>
                    <form id="fart"  method="post" enctype="multipart/form-data" >
                        {% csrf_token %} 
                    <td>&nbsp<p>ARTICULO A BUSCAR: &nbsp &nbsp &nbsp <input type="text" name="art" id="art" class="label label-primary"></p></td>
                    <td><button type="submit" id="boton1" class="input-group-text">MOSTRAR</button></td>
                    <td><p>HOSPITAL:<select name="hospi" class="label label-primary"><option value="CLINICO">HCSC</option><option value="HUPA">HUPA</option></p></select</td>
                    <td>&nbsp</td>
                    </form>
                </tr>
            </table>
            <table id="art1" class="config">
                <tr>
                    <th>INDICE</th>
                    <th>CODIGO</th>
                    <th>NOMBRE</th>
                    <th>FOTO</th>
                </tr>

                {% for i in articulos %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.codigo}}</td>
                    <td>{{i.nombre}}</td>
                    <td><a title="fotoart" href="mfoto?data={{i.foto}}"><img src={{i.foto.url}} alt={{i.foto}}  width="150" ></a></td>
                </tr>
                {% endfor %}
            </table>

        </div>


    </body>