{% load  static %}
{% load bootstrap4 %}
{% bootstrap_css %}

<html>
    <head>
        <title>ARTICULOS</title>
        <!-- <link rel="STYLESHEET" type="text/css" href={% static 'css/upload.css' %}> -->
        <link rel="STYLESHEET" type="text/css" href={% static 'css/selarticulo.css' %}>
        <link rel="STYLESHEET" type="text/css" href={% static 'css/bootstrap.min.css' %}>
        <link rel="STYLESHEET" type="text/css" href={% static 'css/reloj.css' %}>
        <script defer type="text/javascript" languaje="javascript" src={% static 'js/jquery.min.js' %}></script>
        <script defer type="text/javascript" languaje="javascript" src={% static 'js/selarticulo.js' %} ></script>
    </head>
    <body>
        
            <!-- <div id="portada" class="portada">
                <h2 >GESTION DE ARTICULOS</h2> 
                
                <a href="/df">Descargar Datos</a>
                <a href="/uf">Subir Datos</a>
                <a href="/selarticulo">Articulos</a>
                <a href="/pedido/">Pedidos</a>
    
            </div> -->

            {% include 'head.html' %}
            <div class="loader"></div>
            <div id="cont1">
            
                <form id="fart"  method="post" enctype="multipart/form-data" >
                        {% csrf_token %}
                        <div id="Dhosp">
                            <select name="hospi" id="Shospi" class="form-control">
                                    <option value="">SELECCIONE HOSPITAL</option>
                                {% for i in hospitales %}
                                    <option value={{i.codigo}}>{{i.codigo}}</option>
                                {% endfor %}
                            </select>
                            <input type="text" name="art" id="art" placeholder="INGRESE TEXTO A BUSCAR" class="form-control">
                        </div>
                        <!-- <div id="Dtext">
                            <input type="text" name="art" id="art" placeholder="INGRESE TEXTO A BUSCAR" class="label label-primary">
                        </div> -->
                        
                        <div id="Dboton">
                            <button type="submit" id="boton" class="btn-outline-primary">MOSTRAR</button>
                        </div>
                </form>
            </div>
            <div id="Ddatos>">
                <table id="art1" class="config">
                    <tr>
                        <th>INDICE</th>
                        <th>CODIGO</th>
                        <th>NOMBRE</th>
                        <th>FOTO</th>
                    </tr>

                    {% for i in articulos %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{i.codigo}}</td>
                        <td>{{i.nombre}}</td>
                        <td><a title="fotoart" href="mfoto?data={{i.foto}}"><img src={{i.foto.url}} alt={{i.foto}}  width="150" ></a></td>
                    </tr>
                    {% endfor %}
                </table>

            </div>


    </body>