{% load  static %}
{% load bootstrap4 %}
{% bootstrap_css %}

{% include 'menu.html' %}
<!DOCTYPE html>
<html>
    <head>
        <title>SUBIR CONFIGURACION</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1, user-scalable=no">
        <link rel="STYLESHEET" type="text/css" href={% static 'css/upload.css' %}>
        <script type="text/javascript" languaje="javascript" src={% static 'js/javascript.js' %} ></script>
        <script src={% static 'js/jquery.min.js' %}></script>
    </head>
    <body>
        <div class="loader"></div>
        <h2 id="portada">SUBIR CONFIGURACION</h2>
    {% block content %}
        <div id="formupload" class="container-fluid">
            
            <form id="formu" enctype="multipart/form-data" method="POST" >
                {% csrf_token %}
                <p id="fila"></p>
                <table>
                    <tr>
                        <td><input type="file" name="upload" id="upload" class="btn btn-light" onchange="enableBoton()"></td>
                    </tr>
                    <tr>
                        
                        <td><button type="submit" id="boton2" class="form-check-input">SUBIR FILA</button></td>
                    </tr>
                </table> 
                {% if uploaded_file %}
                    <p id="enlace">Configuracion actualizada: {{ uploaded_file }}</p>
                    <p id="nfilas">Numero de filas agregadas: {{ nfilas }}</p>
                    <p id="bfilas">Numero de filas borradas: {{ borradas }}</p><br>
                {% endif %}
            </form>

            
    {% endblock %}
        </div>
    </body>


</html>