

#boton{ margin: auto; width: 150px; margin-top: 50px;}
#contGfhC{margin-top: 25px; width: 400px; margin-bottom: 100px ;}
#contHosp{ margin-top: 50px; width: 400px;}

#contd{background-color: rgb(225, 250, 227) ; border: 2px solid black;}

#titulo{text-align: center; width: 400px;margin: auto; margin-top: 50px;background-color: rgb(231, 231, 231);
color: rgb(96, 61, 194);padding-top: 10px; padding-bottom: 10px;}