body{
    font-family: verdana, helvetica;
    font-weight: bold;
 }
 
 #nav{
    width: 15%;
    float: right;
    margin-top: 2%;
    position: relative;
    visibility: visible;
   }

 
 .titulonav{   
    border-width: 2px;
    border-style: solid;
    border-color: #000000;
    font-size: 12pt;
    font-weight: bold;
    background-color: rgb(240, 149, 75);
    color: rgb(40, 4, 243);
    padding: 4px;
    text-align: center;
    
 }
 
 .cuerporec{
    margin-top: 4px;
    margin-right: 0pt;
    margin-bottom: 10px;
    margin-left: 0pt;
    
 }
 
 .cuerporec ul{
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding-top: 0pt;
    padding-right: 0pt;
    padding-bottom: 0pt;
    padding-left: 0px;
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;
    
 }
 
 .cuerporec li{
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 1px 10 2px 2px;
    font-size: 12pt;
    padding-bottom: 10px;
    margin-top: 2px;
    margin-right: 0pt;
    margin-bottom: 2px;
    margin-left: 0pt;
    
 }
 
 .cuerporec a{
    text-decoration: none;
 }
 
 ul li {
    background-color: antiquewhite;
 }

 ul li a { 
    color: black;
    margin-left: 5px;
 }