

/* .portada{margin: 25px 16px;background-color: rgb(100, 150, 255); color: rgb(255, 251, 251); padding: 4px 10px; border-radius: 10px; text-shadow: 5px 5px 10px black; }
#portada>div>a{color: rgb(255, 255, 255);margin: 5px 8px; padding: 15px 10px; text-decoration: none;}
#portada>div>a:hover { color: rgb(163, 255, 186)} */

#cont1{ width: 40%; margin: auto; }

#Dhosp>select{margin: 10px 10%; width: 70%; }
#Dhosp>input{margin: 10px 10%; width: 70%;}
#Dboton{margin: 20px 32%;}
#boton{ width: 150px; margin-top: 20px; margin-bottom: 10px; box-shadow: 10px 10px 20px black;}

#mfoto{ width: 65%; margin: auto; margin-top: 90px; }
#art1 tr td a{margin-left: 50px;}
#image{border: 2px solid black}

.config{ margin: auto; border: 2px solid; background-color: aliceblue;margin-top: 5px  }
.config th{ border: 1px solid; background-color: lightgreen(15, 104, 82); color: black; font-size: 1.1em; height: 1.1em; text-align: center;}
.config tr{ border: 1px solid; background-color: rgb(164, 190, 90); }
.config td{ border: 1px solid; }
.config tr:nth-child(odd){ background-color:rgb(96, 151, 251); }
.config tr:nth-child(even){ background-color: rgb(180, 187, 253); }
.config tr td{font-size: 1em; height: 1em;}

