
body{background-color: rgba(159, 182, 223, 0.9); margin: 0px; padding: 0px;}
#formupload{width: 60%}
#cont1{width: 50%; margin: 50px auto; }

#boton{width: 150px; margin-top: 60px; margin-left: 5%; margin-bottom: 10px; box-shadow: 10px 10px 20px black; display: block;}
#upload{ padding: 10px; background-color:rgb(100, 150, 255); border-radius: 10px; color: #FFF;  }

#mensajes{ width: 60% ; height: 300px; margin: auto;}
#mensajes p{font-size:1.2em; font-weight: bold;}